__pycache__
__pycache__/**
.env
.venv/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
scripts/duckdns-update.sh
caddy.exe
caddy
caddy_windows_amd64.exe
Caddyfile
.caddy/
